<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="image/Haines_Dairy_Emblem-removebg-preview.png" alt="haines dairy logo">
    <img src="image/abe.png" alt="ol abe">
    <img src="image/435-4354043_dnd-extralife-customink-avatar-28129-dungeons-and-dragons-decals.png" alt="dnd emblem">
</body>
</html>